body {
  background-color: #F42241;
  height: auto;
  width: auto;
}

.header {
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background: #F42241;
  height: 15%;
}

.headerTxt {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ctnSiteInfo {
  position: fixed;
  float: left;
  margin-top: 8%;
  margin-right: 5%;
  margin-left: 5%;
  width: 40%;
}

.ctnSiteInfo>.ctnSiteInfoHeader {
  text-align: center;
}

.ctnNews {
  float: right;
  margin-top: 8%;
  margin-right: 5%;
  margin-left: 5%;
  width: 40%;
  border-style: solid;
  border-width: 10px;
  border-color: #3D3D47;
}

.ctnNews>.ctnNewsHeader {
  height: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

.ctnNews>.ctnNewsHeader>img {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
}

.ctnNews>.ctnNewsSubHeader {
  height: 70px;
  background-color: #F93A45;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ctnNews>.ctnNewsBody>p {
  padding: 0;
  margin: 0;
}

.ctnNews>.ctnNewsBody {
  padding: 5%;
  background-color: #FC4447;
}

/* modal style */
#modalStories {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.progressBarDiv {
  background-color: #FFFFFF;
  border-width: 1px;
  border-color: #3D3D47;
  border-radius: 10px;
  height: 5px;
  width: 0%;
}

.ctnProgressBar {
  background-color: #F42241;
  height: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #F42241;
  border-radius: 10px;
  border-width: 2px; 
}

.modal-content {
  border-radius: 1.5%;
  background-color: #3D3D47;
  margin: 5% auto;
  padding: 1%;
  border: 1px solid #888;
  width: 30%;
  height: 75%;
}


.storieName {
  position: absolute;
  margin-top: 0.5%;
  color: #3D3D47;
}

.btnClose {

  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.btnClose:hover,
.btnClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#ctnStoriesHeader {
  display: flex;
  justify-content: space-around;
}

.storiesSlides {
  display: none;
  margin-top: 30px;
}

img {
  vertical-align: middle;
}

#ctnStoriesBody {
  max-width: 100%;
  position: relative;
  margin: auto;
}

#ctnStoriesBody img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.progressBar {
  height: '5px';
  margin-left: '5px';
  margin-right: '5px';
  background-color: 'red';
}

.storieNumber {
  position: absolute;
  margin-top: 2%;
  margin-left: 1%;
  font-weight: bold;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  background-color: #3D3D47;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}